<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAtjYVMWh71LVh_9-aafEpc-2RYwk3U32Y</string>
	<key>GCM_SENDER_ID</key>
	<string>656197631097</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.luckycloud.luckychat</string>
	<key>PROJECT_ID</key>
	<string>luckychat-63189</string>
	<key>STORAGE_BUCKET</key>
	<string>luckychat-63189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656197631097:ios:ef8ba477f6da18e117a8a8</string>
</dict>
</plist>