<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJaUk67xDif3KX0ROpxmiqvoIim47ovg4</string>
	<key>GCM_SENDER_ID</key>
	<string>683780696762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.luckycloud.luckychat</string>
	<key>PROJECT_ID</key>
	<string>luckychat-7bce5</string>
	<key>STORAGE_BUCKET</key>
	<string>luckychat-7bce5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683780696762:ios:004ad714daef7bac40f083</string>
</dict>
</plist>