<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>de.luckycloud.luckychat</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>luckychat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>luckychat</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>de.luckycloud.luckychat.uris</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ShareMedia</string>
				<string>de.luckycloud.luckychat</string>
				<string>matrix</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>Play audio and voice messages in the app.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Play audio and voice messages via bluetooth devices.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Play audio and voice messages on bluetooth devices</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Share calendar dates with your contacts in luckychat.</string>
	<key>NSCameraUsageDescription</key>
	<string>“This app requires access to the camera so that you can take photos for your profile, scan QR codes for quick logins and take pictures for chatting with other users. The camera is only used when you are actively using one of these functions.”</string>
	<key>NSContactsUsageDescription</key>
	<string>Share contacts with your contacts in luckychat.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>luckychat uses an app lock for an additional security level</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Share your location with your contacts in luckychat.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Share your location with your contacts in luckychat.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Share your location with your contacts in luckychat.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Record voice message and share them with your contacts on luckychat.</string>
	<key>NSMotionUsageDescription</key>
	<string>Share motions with your contacts in luckychat.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Open photos from your gallery and share them with your contacts on luckychat.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Share data with your contacts in luckychat.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
  	<key>NSAllowsArbitraryLoads</key>
  	<true/>
</dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
